/*  TODO: This document contains the CSS markdown for the Williams-Sonoma coding
challenge completed by Will Kaspar.  It links to index.html, found in
the same directory.  To open the page, just drag index.html to your
browser window. */


/*********************************/
/* Logo, Fonts, & Cross-Body CSS */
/*********************************/
* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
}

hr {
	border: 0.5px solid #d3d3d3;
}

.ws-logo {
	margin: auto;
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.5);
	display: none;
	z-index: 1;
}

nav ul li a, .ws-home-button a, .breadcrumbs a,
.product-info, .price, footer {
	font-family: 'Arial', sans-serif;
}

.product-name, #accordion h3 {
	font-weight: normal;
	font-family: 'Times New Roman', serif;
}

.ws-logo, #add-to-cart {
	display: block;
}

.sidekick, .breadcrumbs .active, .crumb,
#accordion h3, .ws-home-button {
	display: inline;
}

footer a:hover, .breadcrumbs a:hover {
	text-decoration: underline;
}


/***********************/
/* Menu Navigation CSS */
/***********************/
nav {
  text-align: center;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav ul li, .ws-home-button {
	background-color: #2d2d2d;
	display: inline-block;
	margin: 0px -2px;
	padding: .75vw;
}

nav ul li a, .ws-home-button a, .ws-menu a {
	font-size: 1.3vw;
	color: #ffffff;
}

.ws-home-button {
	margin: 0px;
	background-color: #2b315b;
}

nav ul li:hover {
	color: #505050;
	background-color: #eaeaea;
}

nav ul li:hover a {
	color: #505050;
	font-weight: 500;
}

.breadcrumbs {
	text-align: center;
	margin-right: 38%;
}

.breadcrumbs a {
	color: #d3d3d3;
	font-size: .75em;
}

.crumb::after {
	content: ' > ';
	color: #d3d3d3;
	font-size: .75em;
}

.breadcrumbs .active a {
	color: #000000;
}

/********************/
/* Page Content CSS */
/********************/
input {
	text-align: center;
	font-size: 1em;
	height: 35px;
	width: 50px;
}

#add-to-cart {
	padding: 25px 0px;
	background: none;
  border: none;
}

#button-close-modal {
	text-align: center;
	max-width: 50px;
	background-color: #ff0000;
	font-family: 'Aral', sans-serif;
	color: #ffffff;
}

#accordion {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
}

.product-image, .product-info {
	width: auto;
	display: inline-table;
}

.product-image {
	text-align: center;
}

.sidekick {
	height: 90px;
	width: 90px;
}


.sidekick-row .active {
	border: 2px solid #000000;
}

.product-info, .price {
	font-weight: normal;
}

.product-info p, .product-info li {
	font-size: .75em;
}


.items-added {
	color: #ff0000;
	display:none;
}

.add-to-cart-modal {
	max-height: 100%;
	max-width: 100%;
	padding: 2em;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	z-index: 2;
}


/**************/
/* Footer CSS */
/**************/
footer {
	display: block;
	font-size: 0.75em;
	border-top: 1px solid #000000;
	background-color: #efefef;
	text-align: center;
	vertical-align: center;
	padding: .3%;
	clear: both;
}

footer p, footer a {
	color: #000000;
}

/************************************/
/* Media Queries for Responsiveness */
/************************************/
/* NOTE: Caps fonts size for menu @ .7em on screens > 900px */
@media (min-width: 900px) {
	nav ul li a, .ws-home-button a, .ws-menu a {
		font-size: .7em;
		font-weight: 500;
	}
}

/* NOTE: Ensures content renders in two columns on screens > 920px */
@media (min-width: 920px) {
	.product-image, .product-info {
		width: 45%;
	}
}
