/*  TODO: This document contains the CSS markdown for the Williams-Sonoma coding
challenge completed by Will Kaspar.  It links to index.html, found in
the same directory.  To open the page, just drag index.html to your
browser window. */


/**************************/
/* Fonts & Cross-Body CSS */
/**************************/
* {
	border: 2px solid lime;
}

nav ul li a, .ws-home-button a, .breadcrumbs a,
.product-info, .price, footer {
	font-family: 'Arial', sans-serif;
}

nav ul li, .breadcrumbs a, .expanded h3,
.collapsed h3, .ws-home-button {
	display: inline;
}

.ws-logo, .add-to-cart {
	display: block;
}

a {
	text-decoration: none;
}

footer a:hover, .breadcrumbs a:hover {
	text-decoration: underline;
}


/**********************/
/* Logo Container CSS */
/**********************/
.ws-logo {
	margin: auto;
}


/******************/
/* Navigation CSS */
/******************/
nav {
/*	white-space: nowrap;
	width: 100vw;*/
}

nav ul {
	list-style-type: none;
}

nav ul li, .ws-home-button {
	background-color: #2d2d2d;
}

nav ul li a, .ws-home-button a, .ws-menu a {
	font-size: 1.3vw;
	color: #ffffff;
}

.ws-home-button {
	border: 2px #ffffff solid;
	background-color: #2b315b;
}

nav ul li:hover {
	color: #505050;
	background-color: #eaeaea;
}

nav ul li:hover a {
	color: #505050;
	font-weight: 500;
}

p.hover {
	display: none;
}

.breadcrumbs a {
	color: lightgrey;
	font-size: .5em;
}

.crumb::after {
	content: ' > ';
	color: lightgrey;
}

.breadcrumbs .active {
	color: black;
}

/********************/
/* Page Content CSS */
/********************/
.product-container {
	width: 100%;
	margin: 0 2%;
}

.panel {
	float: left;
	width: 40%;
	margin: 0 auto;
}

.product-container:after {
	content: "";
	display: table;
	clear: both;
}

.product-image {
	/*max-width: 40%;*/
}

.variation-row .active {
	border: 2px solid black;
}

.product-info {
	/*max-width: 40%;*/
}

.product-info, .price {
	font-weight: normal;
}

.product-info p, .product-info li {
	font-size: .75em;
}

.product-name, .expanded h3, .collapsed h3 {
	font-weight: normal;
	font-family: 'Times New Roman', serif;
}

input {
	text-align: center;
	font-size: 1em;
	height: 35px;
	width: 50px;
}

.add-to-cart {
	padding: 25px 0px;
	background: none;
  	border: none;
}

.expandable-collapsable {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

/**************/
/* Footer CSS */
/**************/
footer {
	display: block;
	font-size: 0.75em;
	border-top: 1px solid black;
	background-color: lightgrey;
	text-align: center;
	vertical-align: center;
	padding: .3%;
	clear: both;
}

footer p, footer a {
	color: black;
}


/* Media Queries for Responsiveness */
@media (min-width: 900px) {
	nav ul li a, .ws-home-button a, .ws-menu a {
		font-size: .7em;
		font-weight: 500;
	}
	nav ul li, .ws-home-button {
		padding: 1vw 1vw;
	}
	nav ul {
		margin: 0 auto;
	}
}
