/*  TODO: This document contains the CSS markdown for the Williams-Sonoma coding
challenge completed by Will Kaspar.  It links to index.html, found in
the same directory.  To open the page, just drag index.html to your
browser window. */


/*********************************/
/* Logo, Fonts, & Cross-Body CSS */
/*********************************/
* {
	box-sizing: border-box;
	/*border: 2px solid lime;*/
}

body {
	margin: 0;
}

a {
	text-decoration: none;
}

.ws-logo {
	margin: auto;
}

nav ul li a, .ws-home-button a, .breadcrumbs a,
.product-info, .price, footer {
	font-family: 'Arial', sans-serif;
}

.ws-logo, #add-to-cart {
	display: block;
}

.sidekick, .breadcrumbs .active, .crumb, .expanded h3,
.collapsed h3, .ws-home-button {
	display: inline;
}

footer a:hover, .breadcrumbs a:hover {
	text-decoration: underline;
}


/***********************/
/* Menu Navigation CSS */
/***********************/
nav {
  text-align: center;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav ul li, .ws-home-button {
	background-color: #2d2d2d;
	display: inline-block;
	margin: 0px -2px;
	padding: .75vw;
}

nav ul li a, .ws-home-button a, .ws-menu a {
	font-size: 1.3vw;
	color: #ffffff;
}

.ws-home-button {
	margin: 0px;
	background-color: #2b315b;
}

nav ul li:hover {
	color: #505050;
	background-color: #eaeaea;
}

nav ul li:hover a {
	color: #505050;
	font-weight: 500;
}

.breadcrumbs {
	text-align: center;
	margin-right: 38%;
}

.breadcrumbs a {
	color: lightgrey;
	font-size: .75em;
}

.crumb::after {
	content: ' > ';
	color: lightgrey;
	font-size: .75em;
}

.breadcrumbs .active a {
	color: black;
}

/********************/
/* Page Content CSS */
/********************/
.product-container {
}

.product-image, .product-info {
	width: auto;
	display: inline-table;
}

.product-image {
	text-align: center;
}

.sidekick {
	height: 90px;
	width: 90px;
}


.sidekick-row .active {
	border: 2px solid black;
}

.product-info, .price {
	font-weight: normal;
}

.product-info p, .product-info li {
	font-size: .75em;
}

.product-name, .expanded h3, .collapsed h3 {
	font-weight: normal;
	font-family: 'Times New Roman', serif;
}

input {
	text-align: center;
	font-size: 1em;
	height: 35px;
	width: 50px;
}

#add-to-cart {
	padding: 25px 0px;
	background: none;
  border: none;
}

.expandable-collapsable {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

/**************/
/* Footer CSS */
/**************/
footer {
	display: block;
	font-size: 0.75em;
	border-top: 1px solid black;
	background-color: lightgrey;
	text-align: center;
	vertical-align: center;
	padding: .3%;
	clear: both;
}

footer p, footer a {
	color: black;
}

/************************************/
/* Media Queries for Responsiveness */
/************************************/
/* NOTE: Caps fonts size for menu @ .7em on screens > 900px */
@media (min-width: 900px) {
	nav ul li a, .ws-home-button a, .ws-menu a {
		font-size: .7em;
		font-weight: 500;
	}
}

/* NOTE: Ensures content renders in two columns on screens > 920px */
@media (min-width: 920px) {
	.product-image, .product-info {
		width: 45%;
	}
}
