div {
  /*width: 100%;*/
  /*margin: auto;*/
}

nav ul {
  list-style-type: none;
  /*margin: 0;*/
  padding: 0;
}

nav ul li {
  background-color: black;
  padding: 1vw;
  margin: 0px -2px;
  display:inline-block;
}

nav {
  /*width: 50%;*/
  /*margin: auto;*/
  text-align: center;
}

.ws-home-button {
  background-color: darkblue;
}
